.header {
	height: 80px;
	border-bottom: 3px dotted #eee;
	padding: 5px;
	display: flex;
	align-items: center;
}

.header-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo .header-logo-link {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1.3px;
}

.header-logo .header-logo-link h2 {
	font-size: 30px;
	text-shadow: 2px 2px #a1a1a1;
}

.header-logo .header-logo-link h4 {
	margin-top: 10px;
	text-shadow: 1px 1px #a1a1a1;
}

.header-logout {
	margin: 0px 15px;
	color: #a1a1a1;
	text-decoration: none;
	transition: all 0.5s;
	cursor: pointer;
	font-size: 20px;
}

.header-logout:hover {
	color: #1e1e1e;
}

/* FOOTER PANEL */
.footer {
	background-color: #2a2a2a;
	color: #fff;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.copyright {
	text-align: center;
	font-size: 14px;
}

/* LOG IN PAGE. */
.form-sign {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-sign-div {
	width: 500px;
}

.form-sign-title {
	color: #2a2a2a;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
}

.form-sign-groups {
	display: flex;
	flex-direction: column;
}

.form-sign-groups input {
	width: 100%;
	height: 44px;
	margin-bottom: 22px;
	line-height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 0px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
}

.form-sign-groups input:focus {
	outline-color: #ffc107;
}

.form-sign-div button {
	display: block;
	margin: 25px auto;
	border-color: #2a2a2a;
	color: #2a2a2a;
	font-size: 13px;
	padding: 12px 25px;
	font-weight: 500;
	transition: all 0.5s;
	background-color: #fff;
	cursor: pointer;
}

.form-sign-div button:hover {
	background-color: #2a2a2a;
	color: #fff;
	font-weight: 500;
}

.form-error {
	color: #ff0000;
	font-size: 14px;
	margin: 15px 0;
	display: block;
	text-align: center;
}

.form-success {
	color: #00ff00;
	font-size: 14px;
	margin: 15px 0;
	display: block;
	text-align: center;
}
/* ACCOUNT */
.account {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
}

.account-title {
	color: #2a2a2a;
	text-align: center;
	margin-bottom: 15px;
	font-size: 38px;
	font-weight: 700;
}

.account-subtitle {
	color: #a1a1a1;
	text-align: center;
	margin-bottom: 40px;
	font-size: 19px;
	font-weight: 400;
	font-style: italic;
}

.react-tabs {
	display: flex;
	width: 100%;
	height: 100%;
}

.react-tabs__tab-list {
	display: flex;
	flex-direction: column;
	width: 300px;
	border-bottom: none !important;
}

.react-tabs__tab {
	height: 44px;
	list-style: none;
	padding: 12px 6px;
	cursor: pointer;
	color: #2a2a2a !important;
}

.react-tabs__tab--selected {
	background: #2a2a2a !important;
	border-color: transparent;
	color: #fff !important;
}

.react-tabs__tab-panel {
	display: none;
	width: 300px;
}

.react-tabs__tab-panel--selected {
	display: block;
}

.react-tabs__tab {
	padding-left: 24px;
}

.react-tabs__tab--selected {
	padding-left: 21px;
}

.panel-content {
	text-align: center;
}

.react-tabs__tab-panel {
	width: 100%;
	border-left: 3px dotted #eee;
	padding: 0 40px;
}

.account-content-title {
	margin-bottom: 20px;
	color: #2a2a2a;
	font-weight: 600;
	font-style: italic;
}

.account-content-groups {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.account-light {
	margin-right: 10px;
}

.account-bold {
	font-weight: bold;
}

/* DASHBOARD */
.dashboard-groups {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.dashboard-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.badge {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #1e1e1e;
	color: #fff;
}

/* USERS */
.users-groups,
.products-groups {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
}

.user-group,
.product-group {
	width: 200px;
	height: 250px;
	box-shadow: 0 0 3px #2a2a2a;
	padding: 15px;
}

.user-header,
.product-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.user-header img,
.product-header img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	object-fit: cover;
}

.username,
.product-name {
	text-align: center;
	color: #2a2a2a;
}

.user-footer,
.product-footer {
	position: relative;
}

.user-info,
.product-info {
	margin-top: 30px;
	color: #ff0000;
	text-align: center;
	cursor: pointer;
}

.user-info:hover,
.product-info:hover {
	text-decoration: underline;
}

/* ORDERS */
.order-group {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px dotted #eee;
	margin-bottom: 18px;
}

.order-info {
	color: #ff0000;
	text-align: center;
	cursor: pointer;
}

.order-info:hover {
	text-decoration: underline;
}

/* PRODUCTS */
.form-sign-groups div > input::-webkit-file-upload-button {
	color: #2a2a2a;
	background-color: #fff;
	padding: 5px;
	cursor: pointer;
	transition: all 0.5s;
}

.form-sign-groups div > input:hover::-webkit-file-upload-button {
	background-color: #2a2a2a;
	color: #fff;
}

.form-sign-groups textarea {
	width: 100%;
	height: 140px;
	min-height: 120px;
	max-height: 200px;
	margin-bottom: 25px;
	line-height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 0px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
	resize: none;
}

.form-sign-div label span {
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
}

/* PRODUCT INFO */

.product-info-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2a2a2a6e;
	z-index: 999;
}

.product-info-groups {
	display: flex;
	gap: 80px;
	justify-content: space-between;
	margin: 30px 0;
}

.product-info-flex {
	flex: 1;
}
.product-info-wrapper {
	width: 70%;
	min-height: 400px;
	box-shadow: 0 0 10px #fff;
	background-color: #fff;
	padding: 20px 10px;
	border-radius: 10px;
}

.product-info-title {
	text-align: center;
	margin-bottom: 15px;
}
.close-product-info {
	display: block;
	margin: 40px 0 0 auto;
	text-transform: uppercase;
	color: #2a2a2a;
	font-style: italic;
	border-bottom: 1px solid #2a2a2a;
	width: max-content;
	cursor: pointer;
}

.product-info-group {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.product-info-group label {
	margin-right: 15px;
}

.product-info-group input {
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 0px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
}

.product-info-group input::placeholder {
	color: #aaa;
}

.product-info-group textarea::placeholder {
	color: #aaa;
}

.update-now {
	display: block;
	background-color: #fff;
	border-color: #2a2a2a;
	color: #2a2a2a;
	font-size: 13px;
	padding: 12px 25px;
	font-weight: 500;
	transition: all 0.5s;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.update-now:hover {
	background-color: #2a2a2a;
	color: #fff;
}

.product-info-group textarea {
	width: 100%;
	height: 140px;
	min-height: 120px;
	max-height: 200px;
	margin-bottom: 25px;
	line-height: 24px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 0px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
	resize: none;
}

.product-info-group.image {
	display: flex;
	flex-direction: column;
}

.product-info-group.image img {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.product-info-group.image span {
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
}

.product-info-group input::-webkit-file-upload-button {
	color: #2a2a2a;
	background-color: #fff;
	padding: 5px;
	cursor: pointer;
	transition: all 0.5s;
}

.product-info-group input:hover::-webkit-file-upload-button {
	background-color: #2a2a2a;
	color: #fff;
}

.product-info-group.user-image {
	display: flex;
	flex-direction: column;
}

.product-info-group.user-image img {
	width: 155px;
	height: 155px;
	object-fit: cover;
}

.product-info-group p span {
	font-weight: bold;
}

.product-info-groups.orders-info-groups {
	gap: 35px;
}

.d-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}
