/* COMPONENTS */
.header {
	height: 100px;
	border-bottom: 3px dotted #eee;
	padding: 5px;
}

.header-top {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.header-top-links {
	font-size: 12px;
}

.header-top-links a {
	margin: 0 12px;
	color: #a1a1a1;
	text-decoration: none;
	transition: all 0.5s;
}

.header-top-links a:hover {
	color: #1e1e1e;
}

.header-logout {
	margin: 0px 15px;
	color: #a1a1a1;
	text-decoration: none;
	transition: all 0.5s;
	cursor: pointer;
}

.header-logout:hover {
	color: #1e1e1e;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo .header-logo-link {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1.3px;
}

.header-logo .header-logo-link h2 {
	font-size: 30px;
	text-shadow: 2px 2px #a1a1a1;
}

.header-logo .header-logo-link h4 {
	margin-top: 10px;
	text-shadow: 1px 1px #a1a1a1;
}

.header-nav ul {
	display: flex;
	list-style: none;
}

.header-nav ul li {
	margin: 0 15px;
}

.header-nav ul li a {
	text-decoration: none;
	color: #1e1e1e;
	transition: all 0.5s;
}

.header-nav ul li a:hover {
	color: #a1a1a1;
}

/* FOOTER */
.footer {
	background-color: #2a2a2a;
}

.footer-top {
	display: block;
	margin: 0 auto;
	width: 90%;
	padding: 40px 0 20px 0;
	display: flex;
	border-bottom: 3px dotted #eee;
}

.footer-bottom {
	display: block;
	margin: 0 auto;
	width: 80%;
	padding: 20px 0 20px 0;
}

.footer-bottom-copyright {
	text-align: center;
}

.footer-bottom-socials {
	margin-top: 30px;
}

.footer-bottom-text {
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
}

.footer-bottom-text a {
	color: #ccffff;
	text-decoration: none;
	transition: all 0.5s;
}

.footer-bottom-text a:hover {
	color: #cc6666;
}

.footer-bottom-socials svg {
	font-size: 22px;
	margin: 0 10px;
	cursor: pointer;
	color: #ccffff;
	transition: all 0.5s;
}

.footer-bottom-socials svg:hover {
	color: #cc6666;
}

.footer-div {
	flex: 1;
}

.footer-logo .footer-logo-link {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1.3px;
}

.footer-logo .footer-logo-link h2 {
	font-size: 30px;
	text-shadow: 2px 2px #a1a1a1;
}

.footer-logo .footer-logo-link h4 {
	margin-top: 10px;
	text-shadow: 1px 1px #a1a1a1;
}

.footer-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.footer-links a {
	margin-top: 15px;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}

.footer-links a:first-child {
	margin-top: 25px;
}

.footer-links a:hover {
	color: #aaa;
}

.footer-title h4 {
	text-align: center;
	color: #fff;
}

/* THE INTRO PART. */
.intro {
	min-height: 100vh;
	display: flex;
	align-items: center;
	margin-left: 16px;
	margin-right: 16px;
	border-bottom: 3px dotted #eee;
}

.intro-left,
.intro-right {
	max-width: 50%;
}

.intro-left {
	margin-right: 8px;
}

.intro-right {
	margin-left: 8px;
}

.intro-left-div {
	position: relative;
}

.intro-left-div img {
	width: 100%;
	height: 550px;
	margin-bottom: 60px;
}

.intro-left-div .intro-left-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	margin-left: 100px;
}

.intro-title {
	font-size: 52px;
	color: #eee;
	margin-bottom: 20px;
}

.intro-link {
	padding: 12px 25px;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}

.intro-link:hover {
	background-color: #fff;
	color: #2a2a2a;
}

.intro-right-div {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.intro-right-content {
	max-width: 50%;
	position: relative;
}

.intro-right-content:nth-of-type(1) {
	top: -82px;
	padding-right: 5px;
	width: 350px;
}

.intro-right-content:nth-of-type(2) {
	top: -32px;
	padding-left: 5px;
	width: 500px;
}

.intro-right-content:nth-of-type(3) {
	bottom: 60px;
	padding-right: 5px;
}

.intro-right-content:nth-of-type(4) {
	bottom: -29px;
	padding-left: 5px;
}

.intro-right-inner {
	position: relative;
}

.intro-right-inner img {
	width: 100%;
}

.intro-right-texts {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.intro-right-title {
	color: #eee;
	font-size: 24px;
	margin-bottom: 15px;
}

.intro-right-desc {
	font-size: 16px;
	color: #eee;
	font-style: italic;
}

.intro-right-hover {
	position: absolute;
	top: 15px;
	right: 15px;
	left: 15px;
	bottom: 15px;
	text-align: center;
	background-color: rgba(42, 42, 42, 0.97);
	opacity: 0;
	visibility: 0;
	transition: all 0.75s;
}

.intro-right-hover:hover {
	opacity: 1;
	visibility: 1;
}

.intro-right-text-title {
	font-size: 24px;
	margin-bottom: 15px;
	color: #eee;
	margin-top: 15px;
}

.intro-right-text-desc {
	font-size: 16px;
	color: #fff;
	margin-bottom: 40px;
}

.intro-right-link {
	padding: 12px 25px;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	transition: all 0.5s;
}

.intro-right-link:hover {
	background-color: #fff;
	color: #2a2a2a;
}

/* LATTEST PAGE */

.lattest {
	margin-left: 16px;
	margin-right: 16px;
	border-bottom: 3px dotted #eee;
	padding: 40px 20px;
}

.lattest-container {
	width: 90%;
	display: block;
	margin: 0 auto;
	min-height: 100vh;
	padding: 40px 20px;
}

.lattest-title {
	font-size: 34px;
	color: #2a2a2a;
}

.lattest-desc {
	font-style: italic;
	color: #a1a1a1;
}

.lattest-texts {
	margin-bottom: 30px;
}

/* MENS */
.slider-image-bottom-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}

.slider-image-title {
	font-size: 22px;
	color: #2a2a2a;
}

.slider-img-star {
	font-size: 14px;
}

.slider-image-price {
	font-size: 18px;
	color: #a1a1a1;
	font-weight: 500;
}

.slider-img-top {
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}

.slider-img-top-inner img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.slider-img-top-hover {
	position: absolute;
	bottom: -60px;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}

.slider-img-top-hover a {
	width: 50px;
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #2a2a2a;
	background-color: #fff;
}

.slider-img-top:hover .slider-img-top-hover {
	bottom: 30px;
	opacity: 1;
	visibility: visible;
}

/* SLIDER */
.slick-slide div {
	margin: 5px;
}

.slick-prev::before {
	display: inline-block;
	color: #2a2a2a;
	content: '\1438';
	font-size: 25px;
	font-weight: 700;
	width: 50px;
	height: 50px;
	background-color: transparent;
	line-height: 48px;
	border: 1px solid #2a2a2a;
	margin-left: -30px;
}

.slick-next::before {
	display: inline-block;
	color: #2a2a2a;
	content: '\1433';
	font-size: 25px;
	font-weight: 700;
	width: 50px;
	height: 50px;
	background-color: transparent;
	line-height: 48px;
	border: 1px solid #2a2a2a;
	margin-left: -3px;
}

.slick-next,
.slick-prev {
	top: 160px;
}

/* EXPLORE PAGE. */
.explore {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
	border-bottom: 3px dotted #eee;
}

.explore-div {
	display: flex;
	gap: 50px;
}

.explore-div-left,
.explore-div-right {
	width: 50%;
}

.explore-title {
	font-size: 24px;
	color: #2a2a2a;
	font-weight: 700;
	margin-bottom: 25px;
}

.explore-desc {
	font-size: 14px;
	color: #aaa;
	display: block;
	font-weight: 500;
	text-align: justify;
	margin-bottom: 25px;
}

.explore-quote {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.explore-quote svg {
	font-size: 40px;
	margin-right: 15px;
}

.explore-quote-text {
	font-style: italic;
	font-weight: 500;
	color: #2e2e2e;
}

.explore-desc-text {
	font-size: 14px;
	color: #aaa;
	font-weight: 500;
	margin-bottom: 25px;
	line-height: 25px;
}

.explore-desc-text a {
	text-decoration: none;
	color: #007bff;
}

.explore-desc-text a svg {
	margin-left: 5px;
}

.explore-desc-text:nth-of-type(2) {
	margin-bottom: 80px;
}

.explore-div-cards {
	display: flex;
	flex-wrap: wrap;
}

.explore-div-card {
	margin: 10px 10px;
	width: 45%;
	min-height: 255px;
	background-color: #f8f8f8;
}

.explore-div-img img {
	height: 255px;
	width: 100%;
	object-fit: cover;
}

.explore-link {
	padding: 12px 12px;
	border: 1px solid #2a2a2a;
	color: #2a2a2a;
	font-weight: 500;
	font-size: 13px;
	text-decoration: none;
	transition: all none;
}

.explore-link:hover {
	background-color: #2a2a2a;
	color: #fff;
}

.explore-div-texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.explore-div-texts h4 {
	font-size: 24px;
	font-weight: 700;
	color: #2a2a2a;
	margin-bottom: 10px;
}

.explore-div-texts span {
	font-size: 14px;
	color: #aaa;
	font-weight: 500;
	font-style: italic;
}

/* HANDLE THE SOCIALS */
.socials {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
	border-bottom: 3px dotted #eee;
}

.socials-top {
	margin-bottom: 40px;
}

.socials-top h2 {
	font-size: 34px;
	font-weight: 700;
	color: #2a2a2a;
}

.socials-top span {
	font-size: 14px;
	font-weight: 400;
	color: #a1a1a1;
	font-style: italic;
}

.socials-bottom-images {
	display: flex;
}

.social-bottom-img {
	position: relative;
}

.social-bottom-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 3px;
}

.socials-hover {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	visibility: 1;
	transition: all 0.5s;
}

.socials-hover a {
	position: absolute;
	bottom: 40px;
	left: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}

.socials-hover svg {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #fff;
}

.social-bottom-img:hover .socials-hover {
	opacity: 1;
	visibility: visible;
}

/* SUBSCRIBE PAGE. */
.subscribe {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
}

.subscribe-div {
	display: flex;
	gap: 60px;
}

.subscribe-left {
	width: 60%;
}

.subscribe-title {
	line-height: 60px;
	font-size: 34px;
	font-weight: 700;
	color: #2a2a2a;
}

.subscribe-desc {
	font-size: 14px;
	font-weight: 400;
	color: #a1a1a1;
	font-style: italic;
}

.subscribe-left form {
	margin-top: 40px;
}

.subscribe-form-group {
	display: flex;
	justify-content: space-between;
}

.subscribe-form-group input {
	width: 300px;
	height: 44px;
	line-height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 50px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
}

.subscribe-form-group input:focus {
	outline-color: #ffc107;
}

.subscribe-form-group button {
	width: 44px;
	height: 44px;
	display: inline-block;
	text-align: center;
	background-color: #2a2a2a;
	box-shadow: none;
	color: #fff;
	transition: all 0.5s;
	border-radius: 50%;
}

.subscribe-form-group button:hover {
	background-color: #fff;
	color: #2a2a2a;
}

.subscribe-right {
	display: flex;
	width: 40%;
	padding-top: 50px;
}

.subscribe-right-left,
.subscribe-right-right {
	flex: 1;
}

.subscribe-right-left div,
.subscribe-right-right div {
	margin-bottom: 35px;
}

.subscribe-right-left div h4,
.subscribe-right-right div h4 {
	font-size: 16px;
	font-weight: 700;
	color: #2a2a2a;
}

.subscribe-right-left div span,
.subscribe-right-right div span {
	font-size: 14px;
	font-weight: 400;
	color: #aaa;
}

/* CONTACT PAGE */
.form {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
	border-bottom: 3px dotted #eee;
}

.form-top {
	position: relative;
	margin-bottom: 60px;
}

.form-top img {
	width: 100%;
	height: 550px;
}

.form-texts {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.form-texts h2 {
	font-size: 52px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #fff;
}

.form-texts span {
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
	color: #fff;
}

.form-bottom {
	display: flex;
	gap: 30px;
}

.form-bottom-left,
.form-bottom-right {
	width: 50%;
}

.form-bottom-text h2 {
	font-size: 34px;
	font-weight: 700;
	color: #000;
}

.form-bottom-text span {
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #a1a1a1;
}

.form-bottom-form {
	margin-top: 40px;
}

.form-bottom-groups {
	width: 100%;
}

.form-bottom-groups:first-child {
	display: flex;
	gap: 30px;
	margin-bottom: 30px;
}

.form-bottom-groups input {
	width: 50%;
	height: 44px;
	line-height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 0px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
}

.form-bottom-groups textarea {
	width: 100%;
	height: 140px;
	min-height: 120px;
	max-height: 200px;
	margin-bottom: 25px;
	line-height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 0px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
	resize: none;
}

.form-bottom-button {
	width: 44px;
	height: 44px;
	display: inline-block;
	text-align: center;
	line-height: 44px;
	background-color: #2a2a2a;
	box-shadow: none;
	border: 1px solid transparent;
	color: #fff;
	transition: all 0.37s;
}

.form-bottom-button:hover {
	background-color: #fff;
	border-color: #2a2a2a;
	color: #2a2a2a;
}

.form-error {
	color: #ff0000;
	font-size: 14px;
	margin: 15px 0;
	display: block;
	text-align: center;
}

.form-success {
	color: #00ff00;
	font-size: 14px;
	margin: 15px 0;
	display: block;
	text-align: center;
}

/* ABOUT PAGE */
.about-us {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
}

.about-us-div {
	border-bottom: 3px dotted #eee;
	padding-bottom: 80px;
}

.about-us-top {
	position: relative;
	margin-bottom: 60px;
}

.about-us-top img {
	width: 100%;
	height: 550px;
}

.about-us-texts {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.about-us-texts h2 {
	font-size: 52px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #fff;
}

.about-us-texts .about-us {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
}

/* BOTTOM */
.about-us-bottom {
	display: flex;
	gap: 50px;
}

.about-us-bottom-left,
.about-us-bottom-right {
	width: 50%;
}

.about-us-bottom-text {
	border-bottom: 3px dotted #ddd;
	padding-bottom: 80px;
}

.about-us-bottom-text h2 {
	font-size: 34px;
	font-weight: 700;
	color: #000;
	margin-bottom: 20px;
	text-align: center;
}

.about-us-bottom-text span {
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #999;
}

.about-us-bottom-text .explore-quote {
	margin-top: 25px;
}

.about-us-bottom-socials {
	display: flex;
	margin-top: 80px;
	gap: 20px;
	width: 100%;
}

.about-us-bottom-socials a {
	width: 44px;
	height: 44px;
	background-color: #2a2a2a;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all 0.5s;
	margin: 0px 20px;
}

.about-us-bottom-socials a:hover {
	background-color: #fff;
	color: #2a2a2a;
	border-radius: 1px solid #2a2a2a;
}

.about-us-others {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0;
	border-bottom: 3px dotted #eee;
}

.about-us-others h2 {
	font-size: 34px;
	font-weight: 700;
	color: #2a2a2a;
}

.about-us-texts span {
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #a1a1a1;
}

.about-us-content h2 {
	margin-bottom: 20px;
	text-align: center;
}

.about-us-content span {
	margin-bottom: 10px;
}

.about-us-images {
	display: flex;
	gap: 50px;
	width: 100%;
	margin-top: 20px;
}

.about-us-image-top {
	position: relative;
	height: 300px;
}

.about-us-image-top img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-us-image-hover {
	position: absolute;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	transition: all 0.5s;
}

.about-us-image-hover a {
	width: 44px;
	height: 44px;
	background-color: #fff;
	color: #2a2a2a;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all 0.5s;
}

.about-us-image-hover a:hover {
	background-color: #2a2a2a;
	color: #fff;
}

.about-us-image-top:hover .about-us-image-hover {
	opacity: 1;
	visibility: visible;
}

.about-us-image-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-us-image-bottom h4 {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #2a2a2a;
}

.about-us-image-bottom span {
	font-size: 14px;
	font-weight: 500;
	font-style: italic;
	color: #a1a1a1;
}

.about-us-images-div {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-top: 50px;
}

.about-us-image-div {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 0px 15px rgb(0 0 0 /10%);
	padding: 30px;
}

.about-us-image-div h4 {
	font-size: 24px;
	font-weight: 700;
	color: #2a2a2a;
	text-align: center;
	margin-bottom: 25px;
}

.about-us-image-div span {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 25px;
	color: #2a2a2a;
	text-align: center;
}

/* PRODUCTS */

.products-items {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
}

.products-items-div {
	border-bottom: 3px dotted #eee;
	padding-bottom: 10px;
}

.products-items-top {
	position: relative;
	margin-bottom: 60px;
}

.products-items-top img {
	width: 100%;
	height: 550px;
}

.products-items-texts {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.products-items-texts h2 {
	font-size: 52px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #fff;
}

.products-items-texts span {
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
	color: #fff;
}

.products-items-others {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0;
}

.products-items-others h2 {
	font-size: 34px;
	font-weight: 700;
	color: #2a2a2a;
}

.products-items-others span {
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #a1a1a1;
	text-align: center;
}

.products-items-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.products-items-images {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

/* SINGLE PRODUCT */
.slider-img-div {
	width: 30%;
}

.slider-img-top.product {
	height: 500px;
}

.product-top {
	margin-bottom: 10px;
}

.slider-img-star {
	color: #2a2a2a !important;
}

/* SINGLE PRODUCT DETAILS */
.product-details {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
}

.no-products {
	margin-top: 80px;
	font-size: 20px;
}

.product-details-div {
	border-bottom: 3px dotted #eee;
	padding-bottom: 80px;
}

.product-details-top {
	position: relative;
	margin-bottom: 60px;
}

.product-details-top img {
	width: 100%;
	height: 550px;
	object-fit: cover;
}

.product-details-texts {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.product-details-texts h2 {
	font-size: 52px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #fff;
}

.product-details-texts span {
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
	color: #fff;
}

.product-details-bottom {
	display: flex;
	gap: 20px;
}

.product-details-bottom-left {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-details-bottom-right {
	width: 35%;
}

.product-details-bottom-img {
	margin-bottom: 15px;
}

.product-details-bottom-img img {
	width: 390px;
	height: auto;
}

.product-details-bottom-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.product-details-bottom-content h4 {
	font-size: 22px;
	font-weight: 700;
	color: #2a2a2a;
}

.product-details-bottom-content span {
	font-size: 14px;
	color: #2a2a2a;
}

.product-price {
	font-size: 18px;
	color: #a1a1a1;
	font-weight: 500;
	display: block;
	margin-top: 5px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.product-desc {
	font-size: 14px;
	color: #aaa;
	font-weight: 500;
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.product-details-bottom-socials {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
}

.product-details-bottom-socials.total {
	border-bottom: none;
}

.product-quantity {
	display: flex;
	align-items: center;
	gap: 20px;
}

.product-quantity-left h6 {
	font-size: 20px;
	font-weight: 700;
	color: #aaa;
}

.product-quantity-right .minus,
.product-quantity-right .plus {
	padding: 7px 10px 8px;
	height: 39px;
	background-color: #fff;
	border: 1px solid #efefef;
	cursor: pointer;
	transition: all 0.5s;
}

.product-quantity-right .minus:hover,
.product-quantity-right .plus:hover {
	background-color: #eee;
}

.product-quantity-right .value {
	width: 35px;
	height: 39px;
	padding: 0 5px;
	text-align: center;
	background-color: transparent;
	border: 1px solid #efefef;
}

/* CHROME, SAFARI, EDGE, OPERA  */
.product-quantity-right .value::-webkit-outer-spin-button,
.product-quantity-right .value::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* FIREFOX */
.product-quantity-right input[type='number'] {
	-moz-appearance: textfield;
}

.product-quantity-right .value:focus {
	outline-color: #ffc107;
}

.product-total {
	display: flex;
	gap: 40px;
	margin-top: 25px;
	align-items: center;
}

.product-total h4 {
	color: #aaa;
	font-size: 22px;
	font-weight: 700;
}

.product-total button {
	border-color: #2a2a2a;
	color: #2a2a2a;
	font-size: 13px;
	padding: 12px 25px;
	display: inline-block;
	font-weight: 500;
	transition: all 0.5s;
	background-color: #fff;
	cursor: pointer;
}

.product-total button:hover {
	background-color: #2a2a2a;
	color: #fff;
	font-weight: 500;
}

/* LOG IN PAGE. */
.form-sign {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-sign-div {
	width: 500px;
}

.form-sign-title {
	color: #2a2a2a;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	font-size: 40px;
}

.form-sign-groups {
	display: flex;
	flex-direction: column;
}

.form-sign-groups input {
	width: 100%;
	height: 44px;
	margin-bottom: 22px;
	line-height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 0px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
}

.form-sign-groups input:focus {
	outline-color: #ffc107;
}

.form-sign-div button {
	display: block;
	margin: 25px auto;
	border-color: #2a2a2a;
	color: #2a2a2a;
	font-size: 13px;
	padding: 12px 25px;
	font-weight: 500;
	transition: all 0.5s;
	background-color: #fff;
	cursor: pointer;
}

.form-sign-div button:hover {
	background-color: #2a2a2a;
	color: #fff;
	font-weight: 500;
}

.form-sign-div button svg {
	font-size: 20px;
}

.form-sign-div p {
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
}

.form-sign-div p a {
	margin: 0 5px;
	color: #007bbf;
	font-style: italic;
	font-weight: 700;
	text-decoration: none;
}

/* CART PAGE */
.cart-items {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 16px;
}

.cart-items-div {
	width: 100%;
	display: block;
	margin: 0 auto 100px 0;
}

.cart-items-title {
	text-align: center;
	font-weight: 700;
	font-size: 34px;
	color: #2a2a2a;
	margin-bottom: 40px;
}

.cart-items-groups {
	display: flex;
	gap: 45px;
}

.cart-items-left {
	width: 65%;
}

.cart-items-right {
	width: 35%;
}

.cart-items-price-subtotal {
	color: #2a2a2a;
	font-weight: 700;
	font-size: 20px;
}

.cart-items-price {
	font-size: 18px;
	font-weight: 400;
	color: #a1a1a1;
}

.cart-items-top-inner img {
	width: 70%;
	height: 100px;
	object-fit: cover;
}

.cart-items-left table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 15px;
}

.cart-items-left table thead,
.cart-items-left table tbody {
	text-align: center;
}

.cart-items-name {
	font-size: 18px;
	color: #2a2a2a;
	font-weight: 400;
}

.cart-items-delete {
	font-size: 35px;
	color: #ff0000;
	cursor: pointer;
}

.cart-items-top.product {
	position: relative;
	width: 70%;
	height: 100px;
	display: block;
	margin: 0 auto;
}

.cart-items-top-hover {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.9);
	transition: all 0.5s;
}

.cart-items-top-hover a {
	width: 30px;
	height: 30px;
	background-color: #fff;
	color: #2a2a2a;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all 0.5s;
}

.cart-items-top-hover a:hover {
	background-color: #2a2a2a;
	color: #fff;
}

.cart-items-top.product:hover .cart-items-top-hover {
	opacity: 1;
	visibility: visible;
}

.cart-items-left table tbody tr td {
	padding-bottom: 10px;
	border-bottom: 3px dotted #eee !important;
}

.cart-items-right-title {
	text-align: center;
	margin-bottom: 5px;
}

.cart-items-right-content {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px dotted #eee;
	padding: 20px 0px;
}

.total,
.total-price {
	font-weight: bold;
	font-size: 25px;
}

.checkout {
	display: block;
	margin: 50px auto;
	border-color: #2a2a2a;
	color: #2a2a2a;
	font-size: 13px;
	padding: 12px 25px;
	font-weight: 500;
	transition: all 0.3s;
	background-color: #fff;
	cursor: pointer;
}

.checkout:hover {
	background-color: #2a2a2a;
	color: #fff;
}

.checkout svg {
	margin-left: 10px;
	font-size: 16px;
}

/* ACCOUNT */
.account {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
}

.account-title {
	color: #2a2a2a;
	text-align: center;
	margin-bottom: 15px;
	font-size: 38px;
	font-weight: 700;
}

.account-subtitle {
	color: #a1a1a1;
	text-align: center;
	margin-bottom: 40px;
	font-size: 19px;
	font-weight: 400;
	font-style: italic;
}

.react-tabs {
	display: flex;
	width: 100%;
	height: 100%;
}

.react-tabs__tab-list {
	display: flex;
	flex-direction: column;
	width: 300px;
	border-bottom: none !important;
}

.react-tabs__tab {
	height: 44px;
	list-style: none;
	padding: 12px 6px;
	cursor: pointer;
	color: #2a2a2a !important;
}

.react-tabs__tab--selected {
	background: #2a2a2a !important;
	border-color: transparent;
	color: #fff !important;
}

.react-tabs__tab-panel {
	display: none;
	width: 300px;
}

.react-tabs__tab-panel--selected {
	display: block;
}

.react-tabs__tab {
	padding-left: 24px;
}

.react-tabs__tab--selected {
	padding-left: 21px;
}

.panel-content {
	text-align: center;
}

.react-tabs__tab-panel {
	width: 100%;
	border-left: 3px dotted #eee;
	padding: 0 40px;
}

.account-content-title {
	margin-bottom: 20px;
	color: #2a2a2a;
	font-weight: 600;
	font-style: italic;
}

.account-content-groups {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.account-content-group {
	margin-bottom: 15px;
}

.account-light {
	margin-right: 10px;
}

.account-bold {
	font-weight: bold;
}

.account-content-group-right img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 50%;
}

.account-close-text {
	color: #2a2a2a;
	font-weight: 700;
}

.close-button {
	display: block;
	border-color: #2a2a2a;
	color: #2a2a2a;
	font-size: 13px;
	padding: 12px 25px;
	font-weight: 500;
	transition: all 0.5s;
	background-color: #fff;
	cursor: pointer;
}

.close-button:hover {
	background-color: #2a2a2a;
	color: #fff;
	font-weight: 500;
}

.close-button svg {
	margin-left: 10px;
	font-size: 18px;
}

.update-password {
	display: block;
	margin: 0 auto;
}

.form-sign-div.update-info,
.form-sign-div.update-image {
	width: 400px;
}

.update-image {
	display: flex;
	justify-content: center;
}

.user-image {
	display: none;
}

.label-image {
	font-size: 50px;
	cursor: pointer;
}

/* SINGE ORDER  */
.order {
	min-height: 100vh;
	margin-left: 16px;
	margin-right: 16px;
	padding: 80px 40px;
}

.orders-id {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	color: #2a2a2a;
	font-weight: 700;
	border-bottom: 3px dotted #eee;
}

.orders-id a {
	display: flex;
	justify-content: flex-end;
	color: #2a2a2a;
	font-size: 20px;
}

.order-title {
	color: #a1a1a1;
	text-align: center;
	font-weight: 700;
	margin-bottom: 40px;
	font-style: italic;
	font-size: 21px;
}

.order-div {
	display: flex;
	justify-content: space-evenly;
}

.cart-items-top.product.order-product {
	width: 250px;
}

.cart-items-top-inner.order-image-div img {
	width: 100%;
	height: 250px;
	object-fit: contain;
}

.cart-items-top-hover.order-hover {
	height: 250px;
}

.order-info-title {
	margin-bottom: 20px;
	color: #a1a1a1;
	font-weight: 500;
}

.order-text {
	margin-bottom: 12px;
	color: #a1a1a1;
	font-weight: 400;
}

.order-text span {
	color: #2a2a2a;
	font-weight: 700;
}

/* DELETE ACCOUNT */

.delete-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2a2a2a6e;
}

.delete-model {
	width: 500px;
	height: 200px;
	box-shadow: 0 0 10px #fff;
	background-color: #fff;
	padding: 20px 10px;
	border-radius: 10px;
}

.delete-title {
	text-align: center;
}

.delete-bottom {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.delete-bottom button {
	display: block;
	background-color: #fff;
	border-color: #2a2a2a;
	color: #2a2a2a;
	font-size: 13px;
	padding: 12px 25px;
	font-weight: 500;
	transition: all 0.5s;
	cursor: pointer;
}

.delete-bottom button:hover {
	background-color: #2a2a2a;
	color: #fff;
}

/* CHECKOUT COMPONENT. */

.checkout-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2a2a2a6e;
}

.checkout-wrapper {
	width: 70%;
	min-height: 400px;
	box-shadow: 0 0 10px #fff;
	background-color: #fff;
	padding: 20px 10px;
	border-radius: 10px;
}

.checkout-title {
	text-align: center;
	margin-bottom: 15px;
}
.close-checkout {
	text-align: end;
	font-size: 30px;
	color: #2a2a2a;
	cursor: pointer;
}

.checkout-group {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.checkout-group label {
	margin-right: 15px;
}

.checkout-group input {
	width: 70%;
	height: 44px;
	line-height: 44px;
	padding: 0px 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #aaa;
	border-radius: 0px;
	border: 1px solid #7a7a7a;
	box-shadow: none;
}

.order-now {
	display: block;
	background-color: #fff;
	border-color: #2a2a2a;
	color: #2a2a2a;
	font-size: 13px;
	padding: 12px 25px;
	font-weight: 500;
	transition: all 0.5s;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.order-now:hover {
	background-color: #2a2a2a;
	color: #fff;
}
